.root {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
    height: 100vh;
    padding: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    display: block;
    margin: 0;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    &::placeholder {
        color: #636668;
    }
    &:focus {
        outline: none;
        box-shadow: 2px 4px 10px rgb(176, 176, 176);
    }
}

.button {
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}
