@import '@/assets/styles/mixins.scss';

.root {
  margin-bottom: 5px;
  text-align: center;
  font-size: 34px;
  line-height: 38px;

  @include mq(s) {
    font-size: 26px;
    line-height: 30px;
  }
}
