@import '@/assets/styles/mixins.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid rgb(0 0 0 / 55%);
  padding-top: 20px;
  height: 100%;
}

.text {
  font-size: 32px;
  line-height: 40px;
  color: black;
  hyphens: auto;

  @include mq(s) {
    font-size: 24px;
    line-height: 32px;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
}

.button {
  font-size: 30px;
  padding: 0;
  cursor: pointer;
}
